@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
  font-display: swap;
  src: url("/fonts/SourceSansPro-Regular.otf");
}
@font-face {
	font-family: "Partner";
	font-style: normal;
  font-display: swap;
  src: url("/fonts/Partner.otf");
}
}
@font-face {
	font-family: "Quacker";
	font-style: normal;
  font-display: swap;
  src: url("/fonts/Quacker.otf");
}
