// Color
$color-blue-1: #041b2d;
$color-blue-2: #004e9a;
$color-blue-3: #428cd4;

$color-text: #fff;

$color-primary: $color-blue-1;

$transition-duration: .35s;
$transition-effect: ease;
$transition: all $transition-effect $transition-duration;

$card-radius: 6px;

$color-footer: $color-primary;

$header-height: 50px;
$header-padding: $header-height / 10;
$header-line-height: $header-height - (2 * $header-padding);


$content-max-width: 960px;
