// Color
$color-primary: #13547a;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);
$color-primary-darker: darken($color-primary, 20%);
$color-primary-lighter: lighten($color-primary, 20%);
$color-secondary: #80d0c7;

$color-text: #fff;

$transition-duration: .35s;
$transition-effect: ease;
$transition: all $transition-effect $transition-duration;

$card-radius: 6px;

$color-footer: $color-primary-darker;

$header-height: 50px;
$header-padding: $header-height / 10;
$header-line-height: $header-height - (2 * $header-padding);

$footer-height: 40px;

$content-max-width: 960px;

$article-padding: 20px;
